extends ../partials/header
block main
  .page-one-wrapper
    .page-one-content
      img.page-one-background-image(src='/img/background/page-one.png' alt='Cosmosphere Page One Background')
      .page-one-inner-content
        .page-one-title-wrapper
          .page-one-title-date-wrapper
            h2.page-one-title-date Oct, 1st
            h2.page-one-title-date 2023
            h2.page-one-title-date Istanbul
          h1.page-one-title COSMOSPHERE
          h2.page-one-subtitle Expanding the Cosmoverse
          //- .all-header-get-tickets-button
          //-   .all-header-get-tickets-button-icon-wrapper
          //-     svg.all-header-get-tickets-button-icon(viewbox='0 0 7 11' xmlns='http://www.w3.org/2000/svg')
          //-       path(d='M6.66484 5.5L1.66484 10.5L0.964844 9.8L5.26484 5.5L0.964844 1.2L1.66484 0.5L6.66484 5.5Z')
          //-       path.all-header-get-tickets-button-icon-line(d='M6 5H0V6H6')
          //-   span.all-header-get-tickets-button-text Get Tickets
          //- .page-one-get-tickets-button-wrapper
          //-   .page-one-get-tickets-button-icon-wrapper
          //-     svg.page-one-get-tickets-button-icon(viewbox='0 0 7 11' xmlns='http://www.w3.org/2000/svg')
          //-       path(d='M6.66484 5.5L1.66484 10.5L0.964844 9.8L5.26484 5.5L0.964844 1.2L1.66484 0.5L6.66484 5.5Z')
          //-   .page-one-get-tickets-button-text Get Tickets
        .page-one-footer-wrapper
          h3.page-one-footer-supported-by-text Proudly supported by
          img.page-one-footer-supported-by-logo(src='/img/partners/interchain-foundation.png' alt='Partners - Interchain Foundation Logo')
          .page-one-footer-supported-by-spacing
          h3.page-one-footer-supported-by-text The official pre-Cosmoverse event
          img.page-one-footer-supported-by-logo(src='/img/partners/cosmoverse.png' alt='Partners - Cosmoverse Logo')
    .page-two-wrapper
      .page-two-spacing
      .page-two-content
        img.page-two-background-image(src='/img/background/page-two.png' alt='Cosmosphere Page Two Background')
        .page-two-inner-content
          .page-two-left-wrapper
            h2.page-two-left-each-subtitle Why Cosmosphere?
            h1.page-two-left-each-title To Become a Cosmonaut
            p.page-two-left-each-text The main purpose of Cosmosphere is to bring new faces to the Cosmos Ecosystem and turn them into Cosmonauts.
            .page-two-left-each-spacing
            h2.page-two-left-each-subtitle For Whom?
            h1.page-two-left-each-title Only for Newbies!
            p.page-two-left-each-text Cosmosphere is for the people who don't know the Cosmos Ecosystem but would like to discover it. 
            .page-two-left-each-spacing
            h2.page-two-left-each-subtitle What will I learn?
            h1.page-two-left-each-title 0 to 1
            p.page-two-left-each-text Cosmosphere is an event designed to take your Cosmos knowledge from scratch to one.
          .page-two-right-wrapper
            .page-two-cosmoverse-wrapper
              h1.page-two-cosmoverse-text COSMOVERSE
            .page-two-cosmosphere-wrapper
              h2.page-two-each-cosmosphere-question(style='left: 0; top: 0; transform: translateX(-50%)') What is Cosmos?
              h2.page-two-each-cosmosphere-question(style='left: 0; bottom: 0; transform: translateX(-50%)')  A career in Cosmos?
              h1.page-two-cosmosphere-text COSMOSPHERE
              h2.page-two-each-cosmosphere-question(style='right: 0; top: 0; transform: translateX(75%)')  Cosmos SDK?
              h2.page-two-each-cosmosphere-question(style='right: 0; transform: translateX(100%)')  CometBFT?
              h2.page-two-each-cosmosphere-question(style='right: 0; bottom: 0; transform: translateX(75%)')  CosmWasm?
            .page-two-earth-wrapper
              h1.page-two-earth-text EARTH
              img.page-two-earth-image(src='/img/shapes/earth.png' alt='Cosmosphere Page Two Earth Image')
        .page-three-wrapper
          .page-three-spacing
          .page-three-content
            .page-three-inner-content
              .page-three-schedule-wrapper
                .page-three-schedule-left-wrapper
                  h2.page-three-schedule-left-title Schedule
                  .page-three-schedule-left-text With Cosmosphere, you will take your first step into the Cosmos ecosystem. You will reach from 0 to 1 with speeches, panels, and networking areas that you will attend all day long.
                .page-three-schedule-right-wrapper
                  .page-three-schedule-right-events-wrapper
                    each event, i in schedule
                      .page-three-schedule-right-each-event
                        .page-three-schedule-right-each-event-time #{event.time}
                        .page-three-schedule-right-each-event-mark
                        if i != schedule.length - 1
                          .page-three-schedule-timeline
                        .page-three-schedule-right-each-event-description-wrapper
                          .page-three-schedule-right-each-event-title #{event.title}
                          .page-three-schedule-right-each-event-description #{event.description}
              h2.page-three-speakers-title SPEAKERS
              .page-three-speakers-wrapper
                each speaker in speakers
                  .page-three-each-speaker-wrapper
                    img.page-three-each-speaker-background-image(src='/img/background/page-three-speaker.png' alt='Cosmosphere Speaker Background')
                    img.page-three-each-speaker-image(src=speaker.image alt=`Cosmosphere Speaker ${speaker.name}`)
                    .page-three-each-speaker-name #{speaker.name}
                    .page-three-each-speaker-title 
                      | #{speaker.title}
                      br
                      | #{speaker.title_secondary}
                    img.page-three-each-speaker-company-logo(src=speaker.company_image style=`width: ${speaker.company_image_width}; min-width: ${speaker.company_image_width};` alt=`Cosmosphere Speaker ${speaker.name} Logo`)
                    .page-three-each-speaker-links-wrapper
                      a(href=speaker.linkedin target='_blank')
                        svg.page-three-each-speaker-link-icon(viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg')
                          path(d='M26.2 4H5.8C4.8 4 4 4.8 4 5.7V26.2C4 27.1 4.8 27.9 5.8 27.9H26.2C27.2 27.9 28 27.1 28 26.2V5.7C28 4.8 27.2 4 26.2 4ZM11.1 24.4H7.6V13H11.1V24.4ZM9.4 11.4C8.3 11.4 7.3 10.5 7.3 9.3C7.3 8.1 8.2 7.2 9.4 7.2C10.5 7.2 11.5 8.1 11.5 9.3C11.5 10.5 10.5 11.4 9.4 11.4ZM24.5 24.3H21V18.7C21 17.4 21 15.6 19.1 15.6C17.2 15.6 17 17.1 17 18.5V24.2H13.5V13H16.8V14.5H16.9C17.4 13.6 18.6 12.6 20.3 12.6C23.9 12.6 24.6 15 24.6 18.1V24.3H24.5Z' fill='#D9D9D9')
                      a(href=speaker.x target='_blank')
                        svg.page-three-each-speaker-link-icon(viewBox='-4 -4 28 28' xmlns='http://www.w3.org/2000/svg')
                          path(d='M7.6115 11.1177C5.07054 7.41576 2.53485 3.72151 0.00443582 0.0349866C0.0356064 0.0238207 0.0586247 0.00977319 0.0835612 0.00701172C0.123445 0.00391769 0.163473 0.00311595 0.203448 0.00461043H5.61035C5.61833 0.00533236 5.62635 0.00533236 5.63433 0.00461043C5.75829 -0.0178415 5.83226 0.0438714 5.89808 0.142684C6.11016 0.461574 6.32967 0.776502 6.54619 1.09239C7.14962 1.9723 7.75305 2.85221 8.35648 3.73212C8.71822 4.25944 9.07996 4.78672 9.4417 5.31396C9.89415 5.97271 10.3469 6.63134 10.7999 7.28985C10.8108 7.30582 10.8239 7.32047 10.8457 7.34833C10.8817 7.30991 10.9133 7.27725 10.9432 7.24255C11.6901 6.37321 12.4369 5.50378 13.1836 4.63428C13.7957 3.9227 14.4083 3.21164 15.0215 2.5011C15.5344 1.9043 16.0461 1.30654 16.5569 0.707825C16.7389 0.495432 16.9234 0.28532 17.1039 0.0714861C17.1211 0.0496051 17.1432 0.0321287 17.1684 0.0205003C17.1937 0.00887195 17.2213 0.00342536 17.2491 0.00461043C17.7526 0.00461043 18.2561 0.00461043 18.7597 0.00557095C18.7895 0.00557095 18.8196 0.015056 18.8749 0.024421L11.6126 8.47633L19.5126 19.9852C19.4469 19.9913 19.4015 19.999 19.3567 19.9992C19.0969 20.0004 18.8371 19.9992 18.5774 19.9992H13.9378C13.8978 19.9992 13.8576 19.9965 13.8179 19.9992C13.7429 20.0051 13.6928 19.9774 13.6492 19.9124C13.467 19.6401 13.2789 19.3721 13.0935 19.1018C12.7835 18.6505 12.4737 18.199 12.1641 17.7474C11.8497 17.2895 11.5352 16.8317 11.2206 16.3739C10.7203 15.6463 10.2199 14.9188 9.71947 14.1913C9.29651 13.5749 8.87423 12.9586 8.45263 12.3423C8.43249 12.313 8.41079 12.2849 8.3807 12.2441C8.315 12.3171 8.2535 12.3825 8.19511 12.4506C7.70869 13.018 7.22275 13.5855 6.73729 14.1531C6.29742 14.6651 5.85504 15.1751 5.41493 15.6869C4.78984 16.4138 4.16531 17.1411 3.54134 17.8688C2.9479 18.5596 2.35446 19.2503 1.76102 19.941C1.7466 19.9598 1.72791 19.9749 1.7065 19.9851C1.68509 19.9953 1.66158 20.0002 1.6379 19.9995C1.12634 19.9986 0.61478 19.9995 0.103343 19.9983C0.0767276 19.9983 0.0501127 19.9895 0 19.9807C0.422961 19.4724 0.849399 18.9903 1.26493 18.4992C1.68537 18.0022 2.11457 17.5127 2.53921 17.0195C2.96145 16.5293 3.38325 16.0387 3.80461 15.5477C4.22598 15.0568 4.64806 14.5663 5.07086 14.0765C5.49558 13.5828 5.92014 13.0889 6.34454 12.5948C6.7651 12.1047 7.18554 11.6141 7.6115 11.1177ZM17.1278 18.7238C17.0836 18.6578 17.0536 18.6109 17.0217 18.5653C16.8475 18.3168 16.6718 18.0691 16.4984 17.8201C16.0008 17.1055 15.5036 16.3908 15.0067 15.6758C14.4537 14.8829 13.8999 14.0905 13.3453 13.2986C12.8145 12.5389 12.2837 11.7792 11.753 11.0195C11.293 10.3617 10.8327 9.70406 10.372 9.04651C9.89679 8.36503 9.42491 7.68138 8.9492 7.00002C8.49195 6.34471 8.03342 5.69028 7.57362 5.03673C7.22315 4.53599 6.87344 4.03472 6.52449 3.53293C6.24363 3.13 5.9629 2.72698 5.68228 2.32389C5.46936 2.01928 5.25393 1.7166 5.04245 1.4114C5.0048 1.35701 4.96596 1.33 4.89654 1.33012C4.0933 1.33276 3.29006 1.33204 2.48753 1.33288C2.45325 1.33288 2.41896 1.339 2.36765 1.34392C2.39786 1.39063 2.41788 1.42365 2.43958 1.45534C2.74641 1.89374 3.05328 2.33201 3.36019 2.77016C4.04163 3.74669 4.72287 4.72353 5.4039 5.70069C6.03923 6.61173 6.67463 7.52278 7.31011 8.43382C7.64651 8.91528 7.98675 9.39434 8.32375 9.87459C8.75223 10.4866 9.17982 11.0989 9.60654 11.7116C10.2193 12.5902 10.832 13.4684 11.4445 14.3463C11.8194 14.8836 12.194 15.421 12.5685 15.9586C13.1934 16.8527 13.8181 17.7469 14.4427 18.6413C14.4899 18.7091 14.5376 18.7329 14.6178 18.7326C15.4165 18.7298 16.2153 18.7308 17.014 18.7304C17.0446 18.7298 17.075 18.7268 17.1278 18.7234V18.7238Z' fill='#F4F4F4')
              .page-three-sponsors-wrapper
                .page-three-sponsors-title Sponsors
                .page-three-sponsors-subtitle
                  | Would you like to be a sponsor to Cosmosphere?
                  br
                  | Reach us!
                .page-three-sponsors-contact-wrapper
                  a.page-three-sponsors-each-contact-button(href='mailto:hello@node101.io') hello@node101.io
                  .page-three-sponsors-contact-divider or
                  a.page-three-sponsors-each-contact-button(href='https://t.me/node101')
                    svg(width='12' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M1.89016 6.8879C6.42617 4.62993 9.45088 3.14134 10.9643 2.42212C15.2854 0.36862 16.1833 0.0119045 16.7686 0.00012559C16.8973 -0.00246506 17.1851 0.0339819 17.3715 0.206816C17.5289 0.352754 17.5722 0.549895 17.593 0.68826C17.6137 0.826626 17.6395 1.14183 17.619 1.38811C17.3848 4.1992 16.3716 11.021 15.8561 14.1694C15.638 15.5017 15.2085 15.9484 14.7927 15.9921C13.8892 16.0871 13.203 15.3098 12.3278 14.6543C10.9584 13.6287 10.1847 12.9902 8.85541 11.9893C7.31917 10.8327 8.31505 10.1969 9.19055 9.15799C9.41967 8.88609 13.4009 4.74867 13.478 4.37335C13.4876 4.32641 13.4965 4.15143 13.4056 4.05904C13.3146 3.96664 13.1803 3.99824 13.0834 4.02337C12.946 4.05898 10.7583 5.71112 6.52018 8.97978C5.8992 9.46697 5.33673 9.70435 4.83278 9.69191C4.27721 9.6782 3.20853 9.33301 2.41407 9.03795C1.43963 8.67605 0.665171 8.48471 0.732609 7.87009C0.767735 7.54996 1.15359 7.22256 1.89016 6.8879Z' fill='white')
                .page-three-sponsors-list-wrapper
                  each category in Object.keys(sponsors)
                    .page-three-sponsors-list-title #{sponsors[category].name}
                    .page-three-each-sponsors-list-wrapper
                      each sponsor in sponsors[category].logos
                        .page-three-sponsors-list-each-sponsor-wrapper
                          img.page-three-sponsors-list-each-sponsor-image(src=sponsor.image alt=`Cosmosphere Sponsor ${sponsor.name}`)
                          .page-three-sponsors-list-each-sponsor-name #{sponsor.name}
                          a.page-three-sponsors-list-each-sponsor-link(href=sponsor.linkedin target='_blank')
                            svg(viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg')
                              path(d='M26.2 4H5.8C4.8 4 4 4.8 4 5.7V26.2C4 27.1 4.8 27.9 5.8 27.9H26.2C27.2 27.9 28 27.1 28 26.2V5.7C28 4.8 27.2 4 26.2 4ZM11.1 24.4H7.6V13H11.1V24.4ZM9.4 11.4C8.3 11.4 7.3 10.5 7.3 9.3C7.3 8.1 8.2 7.2 9.4 7.2C10.5 7.2 11.5 8.1 11.5 9.3C11.5 10.5 10.5 11.4 9.4 11.4ZM24.5 24.3H21V18.7C21 17.4 21 15.6 19.1 15.6C17.2 15.6 17 17.1 17 18.5V24.2H13.5V13H16.8V14.5H16.9C17.4 13.6 18.6 12.6 20.3 12.6C23.9 12.6 24.6 15 24.6 18.1V24.3H24.5Z' fill='#D9D9D9')
                          a.page-three-sponsors-list-each-sponsor-link(href=sponsor.x target='_blank')
                            svg(viewBox='-4 -4 28 28' xmlns='http://www.w3.org/2000/svg')
                              path(d='M7.6115 11.1177C5.07054 7.41576 2.53485 3.72151 0.00443582 0.0349866C0.0356064 0.0238207 0.0586247 0.00977319 0.0835612 0.00701172C0.123445 0.00391769 0.163473 0.00311595 0.203448 0.00461043H5.61035C5.61833 0.00533236 5.62635 0.00533236 5.63433 0.00461043C5.75829 -0.0178415 5.83226 0.0438714 5.89808 0.142684C6.11016 0.461574 6.32967 0.776502 6.54619 1.09239C7.14962 1.9723 7.75305 2.85221 8.35648 3.73212C8.71822 4.25944 9.07996 4.78672 9.4417 5.31396C9.89415 5.97271 10.3469 6.63134 10.7999 7.28985C10.8108 7.30582 10.8239 7.32047 10.8457 7.34833C10.8817 7.30991 10.9133 7.27725 10.9432 7.24255C11.6901 6.37321 12.4369 5.50378 13.1836 4.63428C13.7957 3.9227 14.4083 3.21164 15.0215 2.5011C15.5344 1.9043 16.0461 1.30654 16.5569 0.707825C16.7389 0.495432 16.9234 0.28532 17.1039 0.0714861C17.1211 0.0496051 17.1432 0.0321287 17.1684 0.0205003C17.1937 0.00887195 17.2213 0.00342536 17.2491 0.00461043C17.7526 0.00461043 18.2561 0.00461043 18.7597 0.00557095C18.7895 0.00557095 18.8196 0.015056 18.8749 0.024421L11.6126 8.47633L19.5126 19.9852C19.4469 19.9913 19.4015 19.999 19.3567 19.9992C19.0969 20.0004 18.8371 19.9992 18.5774 19.9992H13.9378C13.8978 19.9992 13.8576 19.9965 13.8179 19.9992C13.7429 20.0051 13.6928 19.9774 13.6492 19.9124C13.467 19.6401 13.2789 19.3721 13.0935 19.1018C12.7835 18.6505 12.4737 18.199 12.1641 17.7474C11.8497 17.2895 11.5352 16.8317 11.2206 16.3739C10.7203 15.6463 10.2199 14.9188 9.71947 14.1913C9.29651 13.5749 8.87423 12.9586 8.45263 12.3423C8.43249 12.313 8.41079 12.2849 8.3807 12.2441C8.315 12.3171 8.2535 12.3825 8.19511 12.4506C7.70869 13.018 7.22275 13.5855 6.73729 14.1531C6.29742 14.6651 5.85504 15.1751 5.41493 15.6869C4.78984 16.4138 4.16531 17.1411 3.54134 17.8688C2.9479 18.5596 2.35446 19.2503 1.76102 19.941C1.7466 19.9598 1.72791 19.9749 1.7065 19.9851C1.68509 19.9953 1.66158 20.0002 1.6379 19.9995C1.12634 19.9986 0.61478 19.9995 0.103343 19.9983C0.0767276 19.9983 0.0501127 19.9895 0 19.9807C0.422961 19.4724 0.849399 18.9903 1.26493 18.4992C1.68537 18.0022 2.11457 17.5127 2.53921 17.0195C2.96145 16.5293 3.38325 16.0387 3.80461 15.5477C4.22598 15.0568 4.64806 14.5663 5.07086 14.0765C5.49558 13.5828 5.92014 13.0889 6.34454 12.5948C6.7651 12.1047 7.18554 11.6141 7.6115 11.1177ZM17.1278 18.7238C17.0836 18.6578 17.0536 18.6109 17.0217 18.5653C16.8475 18.3168 16.6718 18.0691 16.4984 17.8201C16.0008 17.1055 15.5036 16.3908 15.0067 15.6758C14.4537 14.8829 13.8999 14.0905 13.3453 13.2986C12.8145 12.5389 12.2837 11.7792 11.753 11.0195C11.293 10.3617 10.8327 9.70406 10.372 9.04651C9.89679 8.36503 9.42491 7.68138 8.9492 7.00002C8.49195 6.34471 8.03342 5.69028 7.57362 5.03673C7.22315 4.53599 6.87344 4.03472 6.52449 3.53293C6.24363 3.13 5.9629 2.72698 5.68228 2.32389C5.46936 2.01928 5.25393 1.7166 5.04245 1.4114C5.0048 1.35701 4.96596 1.33 4.89654 1.33012C4.0933 1.33276 3.29006 1.33204 2.48753 1.33288C2.45325 1.33288 2.41896 1.339 2.36765 1.34392C2.39786 1.39063 2.41788 1.42365 2.43958 1.45534C2.74641 1.89374 3.05328 2.33201 3.36019 2.77016C4.04163 3.74669 4.72287 4.72353 5.4039 5.70069C6.03923 6.61173 6.67463 7.52278 7.31011 8.43382C7.64651 8.91528 7.98675 9.39434 8.32375 9.87459C8.75223 10.4866 9.17982 11.0989 9.60654 11.7116C10.2193 12.5902 10.832 13.4684 11.4445 14.3463C11.8194 14.8836 12.194 15.421 12.5685 15.9586C13.1934 16.8527 13.8181 17.7469 14.4427 18.6413C14.4899 18.7091 14.5376 18.7329 14.6178 18.7326C15.4165 18.7298 16.2153 18.7308 17.014 18.7304C17.0446 18.7298 17.075 18.7268 17.1278 18.7234V18.7238Z' fill='#F4F4F4')
              .page-three-location-wrapper
                .page-three-location-title LOCATION
                  svg.page-thee-each-slider-arrow#location-slider-arrow-left(width='36', height='36', viewBox='0 0 36 36', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='18', cy='18', r='18', transform='rotate(-180 18 18)', fill='url(#paint0_radial_989_1382)')
                    rect(width='16', height='16', transform='translate(26 26) rotate(-180)', fill='white', fill-opacity='0.01', style='mix-blend-mode:multiply')
                    path(d='M14.9992 18L19.9992 13L20.6992 13.7L16.3992 18L20.6992 22.3L19.9992 23L14.9992 18Z', fill='#161616')
                    defs
                      radialgradient#paint0_radial_989_1382(cx='0', cy='0', r='1', gradientUnits='userSpaceOnUse', gradientTransform='translate(9.23089 14.1104) rotate(35.4649) scale(37.6615 37.6625)')
                        stop(stop-color='#E70463')
                        stop(offset='1', stop-color='#FF2727')
                  svg.page-thee-each-slider-arrow#location-slider-arrow-right(width='36', height='36', viewBox='0 0 36 36', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='18', cy='18', r='18', fill='url(#paint0_radial_989_1379)')
                    rect(width='16', height='16', transform='translate(10 10)', fill='white', fill-opacity='0.01', style='mix-blend-mode:multiply')
                    path(d='M21.0008 18L16.0008 23L15.3008 22.3L19.6008 18L15.3008 13.7L16.0008 13L21.0008 18Z', fill='#161616')
                    defs
                      radialgradient#paint0_radial_989_1379(cx='0', cy='0', r='1', gradientUnits='userSpaceOnUse', gradientTransform='translate(9.23089 14.1104) rotate(35.4649) scale(37.6615 37.6625)')
                        stop(stop-color='#E70463')
                        stop(offset='1', stop-color='#FF2727')
                .page-three-location-slider-wrapper
                  .page-thee-each-slider-filler
                  .page-thee-each-slider 
                    img.page-three-each-slider-image(src='/img/location/1.png' alt='Grand Pera 1')
                  .page-thee-each-slider
                    img.page-three-each-slider-image(src='/img/location/2.png' alt='Grand Pera 2')
                  .page-thee-each-slider
                    img.page-three-each-slider-image(src='/img/location/3.png' alt='Grand Pera 3')
                  .page-thee-each-slider-filler
                .page-three-location-text
                  | Located in the Cercle d'Orient building, which was built by the famous architect Alexandre Vallaury in 1882, Grand Pera is located on Istiklal Street, the heart of Istanbul.
                  br
                  | Located on the most touristic and busy street of the city, the Cercle d'Orient building hosts Turkey's oldest cinema, Emek Theather.
                //- .page-three-location-button
                //-   .page-three-location-button-icon-wrapper
                //-     svg.page-three-location-button-icon(viewbox='0 0 7 11' xmlns='http://www.w3.org/2000/svg')
                //-       path(d='M6.66484 5.5L1.66484 10.5L0.964844 9.8L5.26484 5.5L0.964844 1.2L1.66484 0.5L6.66484 5.5Z')
                //-       path.page-three-location-button-icon-line(d='M6 5H0V6H6')
                //-   span.page-three-location-button-text Hüseyinağa, İstiklal Cd. No:56/58, 34435 Beyoğlu/İstanbul
              .page-three-footer-wrapper
                .page-three-footer-top-wrapper
                  .page-three-footer-top-title
                    | Get your tickets now! Take a step to the Cosmos Ecosystem!
                    br
                    | See you in Cosmosphere!
                  .page-three-footer-top-button-wrapper
                    .blabla
                .page-three-footer-middle-wrapper
                  .page-three-footer-middle-left-wrapper
                    img.page-three-footer-middle-left-logo(src='/img/logo/header.svg' alt='Cosmosphere Logo')
                    .page-three-footer-middle-left-title COSMOSPHERE
                    .page-three-footer-middle-left-text Cosmosphere is a day-long, pre-Cosmoverse get-to-know Cosmos event, to learn, connect, share, and be one from scratch.
                  .page-three-footer-middle-right-wrapper
                    .page-three-footer-middle-right-each-column
                      .page-three-footer-middle-right-each-column-title About
                      .page-three-footer-middle-right-each-column-link#footer-speakers-button Speakers
                      a.page-three-footer-middle-right-each-column-link(href='https://maps.app.goo.gl/3E89A2GtKqMfBr4D6' target='_blank') Location
                      .page-three-footer-middle-right-each-column-link#footer-sponsors-button Sponsors
                      .page-three-footer-middle-right-each-column-link#footer-schedule-button Schedule
                    .page-three-footer-middle-right-each-column
                      .page-three-footer-middle-right-each-column-title Contact
                      a.page-three-footer-middle-right-each-column-link(href='https://twitter.com/node_101' target='_blank') Twitter
                      a.page-three-footer-middle-right-each-column-link(href='mailto:hello@node101.io') Email
                .page-three-footer-bottom-wrapper
                  .page-three-footer-bottom-divider
                  .page-three-footer-bottom-text-wrapper
                    .page-three-footer-bottom-each-text Design & develop by node101 © #{new Date().getFullYear()}
                    .page-three-footer-bottom-each-text All Rights Reserved.

